/* stylesheet
 * App main data.
 */

html {
    /* height: 100%;
    overflow: hidden;
    user-select: none; -moz-user-select: none;
    touch-callout: none; */
}

body {
    /* position: fixed;
    top: 0; left: 0; right: 0; bottom: 0; */

    /* width: 100%;
    height: 100%;
    margin: 0px; */

    /* overflow: auto; */
    /* overflow: hidden; */

    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    background-color: #fff;
    color: #666;
}

a {
    text-decoration: none;
    color: #666;
}
a:hover {
    text-decoration: none;
    color: #000;
}

#header, #footer {
    z-index: 400;
    /* position: absolute; */
    /* top: 0; left: 0; right: 0; bottom: 0; */
    width: 100%;

    display: table-cell;
    text-align: center;
    vertical-align: bottom;
}

@keyframes start {
    0% { transform: opacity: 0; }
    100% { transform: opacity: 1; }
}

#container {
    position: absolute;
    top: 50%; left: 50%;

    display: flex; display: -webkit-flex;
    flex-direction: column; -webkit-flex-direction: column;
    justify-content: space-between; -webkit-justify-content: space-between;
    align-items: center; -webkit-align-items: center;

    width: 360px;
    margin: -180px;

    animation: start 0.5s forwards;
}

.main_screen {
    z-index: 100;

    display: flex; display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: center; -webkit-justify-content: center;
    align-items: center; -webkit-align-items: center;

    width: 300px; height: 300px; margin: 0px; border: none;

    background-color: #fff;
    color: #666;
}
#header { font-size: 30; }
#footer { font-size: 10; margin-top: 180px; }

@media screen and (min-width: 540px) and (min-height: 540px) {
    #container { width: 540px; margin: -270px; }
    .main_screen { width: 450px; height: 450px; }
    #header { font-size: 45; }
    #footer { font-size: 15; margin-top: 270px; }
}
@media screen and (min-width: 720px) and (min-height: 720px) {
    #container { width: 720px; margin: -360px; }
    .main_screen { width: 600px; height: 600px; }
    #header { font-size: 60; }
    #footer { font-size: 20; margin-top: 360px; }
}
